/*
    style.css 
*/

/* ========================================================= */
/*  IMPORTS for fonts 

    Resource:  fonts.google.com
*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* ========================================================= */
/*  Body Style Rules */

body {
    background-color: #7092BF;
}

.centerText {
    text-align: center;
}

/* ========================================================= */
/* Text Style Rules */
p {
    font-family: 'Muli', sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Signika', sans-serif;
    color: white;
}

a {
    color: white;
}

.blackText {
    color: black;
}

/* ========================================================= */
/*  Container and Spacer Rules */

.text-spacing {
    padding: 0.25em;
}

.section-spacing {
    padding: 1.0em;
}

.placeholder-spacing {
    height: 500px;
}

/* ========================================================= */
/* Button Styles */
.btn {
    background-color: white;
    color: #7092BF;
}

.btn btn-primary {
    text-align: center;
}

/* ========================================================= */
/* Image Styles */

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ========================================================= */
/* Navbar */
.nav-background {
    background-color: #7092BF;
}

.navbar-light .navbar-nav .nav-link {
    background-color: #7092BF;
    color: white;
    font-size: 20px;
}
