/*
    style.css 
*/

/* ========================================================= */
/*  IMPORTS for fonts 

    Resource:  fonts.google.com
*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* ========================================================= */
/*  Body Style Rules */

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #FCF5C7;
}

.center-text {
    text-align: center;
}

#introduction {
    height: 750px;
}

#projects {
    height: auto;
    background-color: #7092BF;
}

#project-left {
    width: 50%;
    float: left;
}

#project-right {
    width: 50%;
    float: right;
}

.break {
    height: 25px;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FCF5C7;
}

.container:hover .overlay {
    opacity: 1;
}

#contact {
    height: 300px;
    background-color: #B95F89;
}

#footer {
    height: 100px;
}

#footer-left {
    width: 50%;
    float: left;
}

#footer-right {
    width: 50%;
    float: right;
}

/* ========================================================= */
/* Text Style Rules */
p {
    font-family: 'Muli', sans-serif;
    color: #7092BF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Signika', sans-serif;
    color: #7092BF;
}

a {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    color: #7092BF;
}

a:hover {
    color: #B95F89;
}

strong {
    color: #B95F89;
}

#project-text-left {
    color: white;
}

#project-text-right {
    color: white;
    text-align: right;
}

.project_text {
    color: #7092BF;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer-text-left {
    color: black;
}

/* ========================================================= */
/*  Container and Spacer Rules */

.text-spacing {
    padding: 0.25em;
}

.section-spacing {
    padding: 1.0em;
}

.placeholder-spacing {
    height: 500px;
}

/* ========================================================= */
/* Button Styles */
.btn {
    background-color: #B95F89;
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: #7092BF;
}

.btn btn-primary {
    text-align: center;
}

.tooltip {
    font-family: 'Muli', sans-serif;
}

/* ========================================================= */
/* Image Styles */

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}